
/* Contenedor */
.container{
    /* margin: 0 auto; */
    /* color: red; */
    margin: 1rem 2rem;
    background-color: #F3F4F6;
}

/* HEADER */
.header-container,
.main-container{
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 3rem;
}

.d-flex_header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-logo{
    margin: 5px 0;
    max-width: 100%;
    height: auto;
}
    /* Control del logo */
    .img_logo__header{
        width: 70px;
        height: auto;
        
    }
    
.header-links{
    margin-bottom: 15px;
}

.header-links a{
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-size: larger;
    transition: color 0.3s ease;
    transition: font-size 0.3s ease;

}
.header-links a:hover{
    color: gold;
    font-size: 25px;
}

/* Responsive en HEADER */
@media(min-width: 678px) {
    .container{
        margin: 1rem 4rem;
    }
    .header-links{
        margin-bottom: 0px;
    }
    .d-flex_header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

/* <<---- FIN Header ---->> */

/* INICIO DE MAIN */
section{
    padding: 2rem 1rem;
    margin-bottom: 3rem;
}
.d-flex_section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}
.p-inicio_main{
    /* width: 1/2; */
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    margin-right: 1rem;
}
.img-inicio_main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.img-inicio{
    width: 100%;
    height: auto;
}

/* RESPONSIVE MAIN */
@media(min-width: 678px) {
    .d-flex_section{
        flex-direction: row;
    }
    .section-main_creadora{
        flex-direction: column-reverse;
    }

}

/*<<<---- FIN MAIN  ---->>> */

/* FOOTER */
.footer-container{
    margin-bottom: 0rem;
}